*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'montserrat';
    color: #fff;
}
html, body{
    height: 100%;
    width: 100%;
}
#cursor{
    background-color: rgb(87, 151, 23);
    border-radius: 50%;
    height: 25px;
    width: 25px;
    position: fixed;
    z-index: 99;
}
#cursorblur{
    background-color: rgba(87, 151, 23, 0.615);
    border-radius: 50%;
    height: 500px;
    width: 500px;
    position: fixed;
    filter: blur(50px);
    transition: 0.3s;
    z-index: 9;
}
#nav{
    height: 145px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    gap: 45px;
    padding:0 150px;
    align-items: center;
    position: fixed;
    z-index: 99;
}
#nav img{
    height: 75px;
}
#nav h4{
    font-weight: 500;
    text-transform: uppercase;
}
video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: fixed;
    z-index: -1;
}
#main{
    position: relative;
    background-color: rgba(0, 0, 0, 0.37)
}
#page1{
    position: relative;
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    z-index: 10;
}
#page1 h1{
    font-size: 140px;
    font-weight: 900;
    position: relative;
}
#page1 h1::before{
    z-index: -1;
    content: "EAT. DRINK. PLAY.";
    position: absolute;
    color: black;
    top: -6px;
    left: -6px;

}
#page1 h2 {
    font-size: 40px;
    font-weight: 800;
}
#page1 p{
    width: 40%;
    font-size: 15px;
    font-weight: 500;
}
#page2{
    min-height: 100vh;
    z-index: 10;
    width: 100%;
}
#scroller{
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    position: relative;
    z-index: 10;
}
#scroller::-webkit-scrollbar{
    display: none;
}
#scroller h4:hover{
    color: yellowgreen;
}
#scroller1{
    display: inline-block;
    white-space: inherit;
    animation-name: scroll;
    animation-duration: 35s;
    animation-timing-function:linear ;
    animation-iteration-count: infinite; 
}
#scroller h4{
    font-size: 100px;
    display: inline-block;
    font-weight: 900;
    font-family: gilroy;
    margin-right: 10px;
    text-transform: uppercase;
    -webkit-text-stroke:2px yellowgreen;

}

@keyframes scroll{
    from{
        transform: translate(0%);
    }
    to{
        transform: translate(-100%);
    }
}
#about{
    height: 45vh;
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-around;
    padding: 0 50px;
    z-index: 10;
    margin-top: 30px;
}
#about img{
    height: 250px;
    width: 250px;
    object-fit: cover;
    border-radius: 20px;
}
#about-us-in{
    height: 220px;
    width:50%;
    text-align: center;
}
#about-us-in h3{
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 30px;
}
#about-us-in p{
    font-size: 18px;
    line-height: 25px;
}
#cardContainer{
    height: 60vh ;
    width: 100%;
    display:flex ;
    justify-content: center;
    align-items: center;
    gap: 70px;
    position: relative;
    z-index: 10;
}
.card{
    height: 80%;
    width: 24%;
    background-size: cover;
    border-radius:20px ;
    background-position: center;
    overflow: hidden;
    transition: all ease 0.6s;
}
#card1{
    background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/home-toptracer-1024x682.jpg?strip=all&lossy=1&sharp=1&ssl=1);
}
#card2 {
    background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/hero-4-1024x1024.jpg?strip=all&lossy=1&sharp=1&ssl=1);
}
#card3 {
    background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/home-lessons-1024x682.jpg?strip=all&lossy=1&sharp=1&ssl=1);
}
.overlay{
    height: 100%;
    width: 100%;
    background-color: yellowgreen;
    text-align: center;
    padding-top: 145px;
    padding-left: 30px;
    padding-right: 30px;
    opacity: 0;
}
.overlay h4{
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 800;
    color: black
}
.overlay p{
    margin-top: 20px;
    text-align: left;
    color: black;

}
.card:hover .overlay{
    opacity: 1;
    transition: all ease 0.6s;
}
.card:hover{
    transform: rotate3d(1,1,0,15deg);
}
#green-div{
    height: 30vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: linear-gradient(to left bottom, greenyellow, green);
}
#green-div img{
    object-fit: cover;
    height: 100%;
    width: 14%;
}
#green-div h4{
    color: black;
    line-height: 30px;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    width: 60%;
    z-index: 10;
}
#page3{
    min-height: 100vh;
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 0 160px;
    position: relative;
}
#page3 img{
    height: 115px;
    position: absolute;
    width: 85px;
    z-index: 10;
}
#colon1{
    top: 25%;
    left: 7%;
}
#colon2{
    bottom: 25%;
    right: 7%;
}
#page3 > p{
    font-size: 40px;
    text-transform:uppercase ;
    line-height: 45px;
}
#page4{
    min-height: 100vh;
    width: 100%;
    position: relative;
    display:flex ;
    align-items: center;
    justify-content: center;
    gap: 70px;
}
#page4 h1{
    font-size: 90px;
    position: absolute;
    top: -35px;
    color: black;
    -webkit-text-stroke:2px #f5e8e8;
    gap: 70px;
    font-weight: 800;
}
.elem{
    height: 70%;
  width: 26%;
  overflow: hidden;
  border-radius: 20px;
  position: relative;
}
.elem h2{
    height: 100%;
    background-color: yellowgreen;
    font-weight: 800;
    color: black;
    width: 100%;
    display: flex;
    font-family: gilroy ;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    transition: all ease 0.5s;
    position: absolute;
    z-index: 10;
    gap: 70px;
}
.elem img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all ease 0.5s;
    scale: 1.1;
}
.elem:hover h2{
    background-color: transparent;
    color: #fff;
}
.elem:hover {
    scale: 1;
}
#footer {
    height: 40vh;
    width: 100%;
    background: linear-gradient(to left bottom, #119f3a 0%, #a3d421 80%);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 6.5vw;
    padding: 0 100px;
  }
  #footer > img {
    position: absolute;
    left: 0;
    height: 100%;
    z-index: 0;
  }
  #f1 img {
    height: 100px;
  }
  #f1,
  #f2,
  #f3,
  #f4 {
    width: fit-content;
    position: relative;
    z-index: 99;
    /* background-color: red; */
  }
  #f2 h3 {
    font-size: 1.6vw;
    white-space: nowrap;
    text-transform: uppercase;
    color: #000;
    font-weight: 900;
    margin-bottom: 8px;
  }
  
  #f3 h3 {
    font-size: 1.6vw;
    white-space: nowrap;
    text-transform: uppercase;
    color: #000;
    font-weight: 800;
    margin-bottom: 8px;
  }
  #f4 h4 {
    font-size: 1vw;
    white-space: nowrap;
    text-transform: uppercase;
    color: #000;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 8px;
  }